<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="AcceptMapper">
 
   <select id="selectListApplyUser" resultType="AcceptDTO" parameterType="int">
	    select *
		from accept
		where applyUserId = #{userid}
   </select>
   
   <select id="selectListAcceptUser" resultType="AcceptDTO" parameterType="int">
	    select *
		from accept
		where acceptUserId = #{userid}
   </select>   
   
   <insert id="acceptAdd" parameterType="AcceptDTO">
	   	insert into accept(applicationNo, applyUserId, acceptUserId, accept, postNo, applyNo)
	   	values(#{applicationNo}, #{applyUserId}, #{acceptUserId}, #{accept}, #{postNo}, #{applyNo})
   </insert>
   
   <delete id="acceptDel" parameterType="int">
   		delete from accept
   		where applicationNo = #{applicationNo}
   </delete>
   
</mapper>


