<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ProjTeamMapper">
 
   <!-- <insert id="insertSch" parameterType="ScheduleDTO">
    insert into calendar (calendarId, title, startDate, endDate, color)
	values ()
   </insert> -->
   
   
   <!-- 팀 정보 -->
   <!-- <select id="selectById">
   		
   </select> -->
   
   
   <!-- 일정표 -->
   <select id="selectAllEventbyId" resultType="ScheduleDTO">
   	select scheduleId, teamId, title, start, end, backgroundColor 
   	from schedule
   </select>
   
   <insert id="insertEvent" parameterType="java.util.List">
   	insert into schedule (title, start, end, backgroundColor)
   	values 
   	<foreach collection="list" item="item" separator=",">
   		(#{item.title}, #{item.start}, #{item.end}, #{item.backgroundColor})
   	</foreach>
   </insert>
   
   <update id="updateEvent" parameterType="ScheduleDTO">
   	update schedule
   	set title = #{title}, start = #{start}, end = #{end}, backgroundColor = #{backgroundColor}
   </update>
   
   <delete id="deleteEvent" parameterType="ScheduleDTO">
   	delete from schedule
   	where teamId = #{teamId} and title = #{title}
   </delete>
   
   
   <!-- 회의록 -->
   
   
   <!-- 공고 신청 관리-->
   
  	<select id="selectAllbyId" resultType="ProjDTO">
  		select title, intro, process, tMember 
  		from project
  	</select>
  	
  	<insert id="createPost" parameterType="QuestionDTO">
  		insert into (title, content)
  		values (#{title}, #{content})
  	</insert>
   
</mapper>


