<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="SkillMapper">

	<select id="skillList" resultType="SkillDTO" parameterType="int">
		select skillNo,applyNo,skill
		from skill
		where applyNo=#{applyNo}
	</select>
	
</mapper>


