<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="TeamMapper">

	<insert id="teamAdd" parameterType="TeamDTO" useGeneratedKeys="true" keyProperty="teamId">
		insert into team(postNo, userId)
		values(#{postNo}, #{userId})
	</insert>
	
	<insert id="teamMemberAdd" parameterType="TeamMemberDTO">
		insert into teammember(teamId, userId)
		values (#{teamId}, #{userId})
	</insert>
	
	<select id="selectByPostNo" parameterType="int" resultType="TeamDTO">
		select *
		from team
		where postNo = #{postNo}
	</select>
	
	<select id="selectByTeamId" parameterType="Integer" resultType="TeamDTO">
		select teamId, userId, teamName, teamSubject, createDate, teamLogo
		from team
		where teamId = #{teamId}
	</select>
</mapper>


