<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
    .card {
        height: 400px;
    }
    
    a{
	    color: inherit; /* 기본 링크 색상 유지 */
	}
    
    a:hover {
    	text-decoration: none; /* 링크에 마우스를 올렸을 때 밑줄 효과 제거 */    
	}
	   
</style>
</head>

<body>
	
    <header class="bg-white d-flex justify-content-between align-items-center p-2">
        <div class="container d-flex justify-content-between align-items-center">
            <h1><a th:href="@{main}" style="color: #2CA40E; font-size: 24px;">JoiNow</a></h1>
            <nav>
                <ul class="list-inline m-0">
                    <th:block th:switch="${session.loginInfo}">
                    	<th:block th:case="null">
	                    	<li class="list-inline-item">
	                        	<a th:href="@{join}" class="btn btn-outline-dark btn-sm" style="font-size: 0.67em;">Sign Up</a>
		                    </li>
		                    <li class="list-inline-item">
		                        <a th:href="@{login}" class="btn btn-outline-dark btn-sm" style="font-size: 0.67em;">Log In</a>                        
		                    </li>
                    	</th:block>
                    	<th:block th:case="*">
	                    	<li class="list-inline-item">
	                        	<a th:href="@{mypage}" class="btn btn-outline-dark btn-sm" style="font-size: 0.67em;">MyPage</a>
		                    </li>
		                    <li class="list-inline-item">
		                        <a th:href="@{logout}" class="btn btn-outline-dark btn-sm" style="font-size: 0.67em;">Log Out</a>                        
		                    </li>
                    	</th:block>
	                        		
					</th:block>
                </ul>
            </nav>
        </div>
    </header>
		
	<!-- 배너 -->
    <section class="banner text-center py-5 mb-5" style="background-color: #2CA40E; color: #ffffff;">
    	    	
        <h2 style="font-size: 37px;">JoiNow</h2>
        <h3 style="font-size: 18px;">내 프로젝트신청 현황</h3>
        
    </section>
    <!-- 배너 end -->
		
	<!-- Modal -->
	<div class="container">
    <div class="form-group p-4 border rounded">
        <h4 class="mb-4">지원 정보</h4>
		
		<div class="mb-3">
            <h5 class="mb-2">지원자 명</h5>
            <p class="fs-5 fw-bold" th:text="${UserInfoDTO.id}">dummy</p>
        </div>
		
        <div class="mb-3">
            <h5 class="mb-2">지원분야</h5>
            <p class="fs-5 fw-bold" th:text="${applyDTO.applyType}">dummy</p>
        </div>

        <div class="mb-3">
            <h5 class="mb-2">보유기술</h5>
            <p class="fs-5" th:text="${applyDTO.skills}">dummy</p>
        </div>

        <div class="mb-3">
            <h5 class="mb-2">연락처</h5>
            <p class="fs-5" th:text="${applyDTO.contact}">dummy</p>
        </div>

        <div>
            <h5 class="mb-2">지원자 소개</h5>
            <p class="fs-5" th:text="${applyDTO.content}">dummy</p>
        </div>
    </div>
</div>



	

	
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>


