<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
    .card {
        height: 400px;
    }
    
    a{
	    color: inherit; /* 기본 링크 색상 유지 */
	}
    
    a:hover {
    	text-decoration: none; /* 링크에 마우스를 올렸을 때 밑줄 효과 제거 */    
	}
	   
	   
	@font-face {
	    font-family: 'SUITE-Regular';
	    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
	    font-weight: 400;
	    font-style: normal;
	}
	
	body {
            font-family: 'SUITE-Regu	lar';
    }
	   
</style>
</head>

<body>
	
    <header class="bg-white d-flex justify-content-between align-items-center p-2">
        <div class="container d-flex justify-content-between align-items-center">
            <h1><a th:href="@{main}" style="color: #2CA40E; font-size: 24px;">JoiNow</a></h1>
            <nav>
                <ul class="list-inline m-0">
                    <th:block th:switch="${session.loginInfo}">
                    	<th:block th:case="null">
	                    	<li class="list-inline-item">
	                        	<a th:href="@{join}" class="btn btn-outline-dark btn-sm" style="font-size: 0.67em;">Sign Up</a>
		                    </li>
		                    <li class="list-inline-item">
		                        <a th:href="@{login}" class="btn btn-outline-dark btn-sm" style="font-size: 0.67em;">Log In</a>                        
		                    </li>
                    	</th:block>
                    	<th:block th:case="*">
	                    	<li class="list-inline-item">
	                        	<a th:href="@{mypage}" class="btn btn-outline-dark btn-sm" style="font-size: 0.67em;">MyPage</a>
		                    </li>
		                    <li class="list-inline-item">
		                        <a th:href="@{logout}" class="btn btn-outline-dark btn-sm" style="font-size: 0.67em;">Log Out</a>                        
		                    </li>
                    	</th:block>
	                        		
					</th:block>
                </ul>
            </nav>
        </div>
    </header>
		
	<!-- 배너 -->
    <section class="banner text-center py-5 mb-5" style="background-color: #2CA40E; color: #ffffff;">
    	    	
        <h2 style="font-size: 37px;">JoiNow</h2>
        <h3 style="font-size: 18px;">나의 신청 현황</h3>
        
    </section>
    <!-- 배너 end -->
		
	<!-- 리스트 -->
	<section class="features container">
	    <div class="table-responsive">
	        <table class="table">
	            <thead>
	                <tr>
	                    <th>공고 정보</th>
	                    <th>신청자</th>
	                    <th>작성자</th>
	                </tr>
	            </thead>
	            <tbody>
	                <th:block th:each="acceptPrintDTO : ${acceptPrintList}">
	                    <tr>
	                        <td>
	                            <a th:href="'retrieve?postNo='+${acceptPrintDTO.postDTO.postNo}" th:text="${acceptPrintDTO.postDTO.title}"></a>
	                        </td>
	                        <td>
	                            <a th:href="'applyRetrieve?applyNo='+${acceptPrintDTO.acceptDTO.applyNo}" th:text="${acceptPrintDTO.applyUserInfoDTO.nickname}"></a>
	                        </td>
	                        <td th:text="${acceptPrintDTO.acceptUserInfoDTO.nickname}"></td>	                        
	                    </tr>
	                </th:block>
	            </tbody>
	        </table>
	    </div>
	</section>

	<!-- 리스트 end -->
	
	
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>


