<!DOCTYPE html>
<html lang="ko" class="light-style customizer-hide" dir="ltr" xmlns:th="http://www.thymeleaf.org" data-theme="theme-default" data-assets-path="/assets/" data-template="vertical-menu-template-no-customizer">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

<title>희의록 페이지</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<body>

	<header th:replace="fragments/header :: header"></header>

	<th:block>

		<div class="container">
			<h1>회의록 작성</h1>
			<form th:action="@{/team/meeting/write/do}" method="post">
				<!-- 회의록 작성 폼 -->
				<div class="form-group">
					<label for="title">회의록 제목</label>
					<input type="text" id="title" name="title" class="form-control" required />
				</div>
				<div class="form-group">
					<label for="content">내용</label>
					<textarea id="content" name="content" class="form-control" rows="5" required></textarea>
				</div>
				<div class="form-group">
					<label for="author">작성자</label>
					<input type="text" id="author" name="author" class="form-control" required />
				</div>
				<button type="submit" class="btn btn-primary">작성 완료</button>
			</form>
		</div>

	</th:block>



	<footer th:replace="fragments/footer :: footer"></footer>


	<!-- build:js js/core.js -->

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>