<!DOCTYPE html>
<html lang="ko" class="light-style customizer-hide" dir="ltr" xmlns:th="http://www.thymeleaf.org" data-theme="theme-default" data-assets-path="/assets/" data-template="vertical-menu-template-no-customizer">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

<title>희의록 페이지</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


<style>
/* 추가한 CSS 스타일 */
.mt-4 {
	margin-top: 10px; /* 질문 목록과 상단 간격 조정 */
}

/* 질문 목록의 테이블 스타일 */
.table {
	width: 75%; /* 테이블의 전체 너비 조정 */
	margin: 0 auto; /* 가운데 정렬 */
	position: relative; /* 부모 컨테이너를 상대 위치로 설정 */
}

th, td {
	padding: 5px 10px; /* 셀 안의 내용과 셀 내부 간격 조정 */
}

h2 {
	font-size: 1.5rem; /* 게시물 목록 제목 크기 조정 */
}

/* 질문하기 버튼 스타일 */
#write_question {
	background-color: #007bff;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

#ask-button:hover {
	background-color: #0056b3;
}
</style>

<script>
const goToWrite = () => {
    location.href = "./question/write";
}

const examResponse = () => {
	$.ajax({
		type: "get",
		url: "./test",
		success: function(res) {
			console.log("성공", res);
		},
		error: function() {
			console.log("실패");
		}
	})
	
	
	$(".w3-pagination a").click(function() {

		  var selector = $(this);

		  var current_index = $(".w3-pagination a").index(this);
		  //alert(current_index);
		  var current_class = selector.attr("class");

		  if (current_index != 0 || current_index != 6) {

		    $(".w3-pagination a").each(function(index) {

		      if (index == 0 || index == 6) {
		        return true;
		      } else {
		        if (index == current_index) {
		          $(this).addClass("w3-green");
		        } else {
		          $(this).removeClass("w3-green");
		        }
		      }

		    });

		  }

		});
}
</script>
<body>

	<header th:replace="fragments/header :: header"></header>

	<th:block>

		<!-- 회의록 목록 -->
			<div class="container">
				<h2>회의록</h2>
				<div class="table-responsive">
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>번호</th>
								<th>글 제목</th>
								<th>작성일</th>
								<th>작성자</th>
							</tr>
						</thead>
						<tbody>
							<!-- Thymeleaf를 사용하여 게시물 목록을 동적으로 생성 -->
							<tr th:each="meetingDTO, index : ${pageDTO.list}">
								<td th:text="${meetingDTO.meetingId}"></td>
								<td th:text="${meetingDTO.title}"></td>
								<td th:text="${#temporals.format(meetingDTO.createdDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
								<td th:text="${meetingDTO.writer}"></td>
							</tr>
						</tbody>
					</table>
				</div>

				<br>

				<!-- 페이징 처리 -->              
		<th:block th:with="perPage=${pageDTO.perPage}, curPage=${pageDTO.curPage},
							totalCount=${pageDTO.totalCount}, pageNum=${pageDTO.pageNum}">
							
	        <div class="row mb-4">
	            <div class="col-md-12 text-center">
	                <nav aria-label="Page navigation">
	                    <ul class="pagination justify-content-center">
														                                        
	                        <li class="page-item">
	                        	<th:block th:switch="${curPage}">
	                        		<a class="page-link text-dark" th:href="${'meeting?curPage=1'}" th:case="1">Previous</a>
	                            	<a class="page-link text-dark" th:href="${'meeting?curPage='+(curPage-1)}" th:case="*">Previous</a>
	                            </th:block>
	                        </li>
	                        
	                        <th:block th:each="num : ${#numbers.sequence(1,pageNum)}" th:switch="${curPage}">	                        
		                        <li class="page-item active"><span class="page-link bg-white text-dark" th:case="${num}" th:text="${num}">1</span></li>
		                        <li class="page-item"><a class="page-link text-dark" th:href="${'main?curPage='+num}" th:case="*" th:text="${num}">1</a></li>
	                        </th:block>
	                        
	                        
	                        <li class="page-item">
	                        	<th:block th:switch="${curPage}">
	                        		<a class="page-link text-dark" th:href="${'meeting?curPage='+pageNum}" th:case="${pageNum}">Next</a>
	                            	<a class="page-link text-dark" th:href="${'meeting?curPage='+(curPage+1)}" th:case="*">Next</a>
	                            </th:block>
	                        </li>
	                        	                       	                        
	                    </ul>
	                </nav>
	            </div>
	        </div>
        </th:block>
			</div>



			<footer th:replace="fragments/footer :: footer"></footer>


			<!-- build:js js/core.js -->

			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		</body>
</html>