<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>JoiNow</title>
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha2/dist/css/bootstrap.min.css}" rel="stylesheet">
    <style>
        body {
            background-color: #2CA40E; /* 배경 */
        }
        .navbar {
            background-color: #2CA40E; /* 네비게이션 바 배경 */
            color: white; /* 네비게이션 바 글자색 */
            padding: 15px;
        }
        .container {
            background-color: white; /* 마이페이지 양식 배경 */
            color: #6c706c; /* 마이페이지 양식 글자색 */
            padding: 20px;
            border-radius: 10px;
        }
       
    </style>
</head>
<body>
    <nav class="navbar navbar-dark">
        <div class="container">
            <span class="navbar-brand mb-0 h1" style="color: green";>JoiNow</span>
        </div>
    </nav>
    <div class="container mt-5">
        <div class><h2>마이페이지</h2>
        <h5>회원 정보 수정</h5>
        <hr>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <p>프로필 사진</p>
            <img src="images/default_img.jpg" class="img-thumbnail" style="width: 10%">
            <div class="form-group">
                <input class="form-control" type="file" name="profileImage" id="profileImage">
            </div>
        </form>
        <button class="btn btn-danger" id="deleteProfileBtn" style="display: none;">삭제</button>
        <hr>
      <form class="form" action="myinsert" method="post">
        <h5>기본 정보</h5>
        <div class="mb-3">
            <label for="nickname" class="form-label">닉네임</label>
            <input type="text" class="form-control" name="nickname" id="nickname">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">이메일</label>
            <input id="email" type="text" class="form-control" name="email" readonly th:value="@{mypgDTO.email}">
        </div>
        <div class="mb-3">
            <label for="pofol" class="form-label">포트폴리오 링크</label>
            <input id="pflink" type="text" class="form-control" name="pofolLink">
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">연락처</label>
            <input id="phone" type="text" class="form-control" name="phone">
        </div>
        <hr>
        <h5>기술 스택</h5>
        <div class="mb-3">
            <label for="skills" class="form-label">직무</label>
            <input id="skills" type="text" class="form-control" name="skills" placeholder="ex) 프론트엔드 UIUX">
        </div>
        <div class="mb-3">
            <label for="tools" class="form-label">사용 툴</label>
            <input id="tools" type="text" class="form-control" name="tools" placeholder="ex) node.js">
        </div>
        <hr>
        <div class="mb-3">
            <label for="tools" class="form-label">한줄 소개</label>
            <input id="intro" type="text" class="form-control" name="intro" placeholder="ex) 안녕하세요">
        </div>
        
        <button type="submit" class="btn btn-success" style="float: center;">확인</button>
    </form>
</div>
<!-- Bootstrap JS 및 Popper.js 스크립트 연동 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha2/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@2.10.2/dist/umd/popper.min.js"></script>
</body>
</html>
