<!DOCTYPE html>
<html lang="en" class="light-style customizer-hide" dir="ltr" xmlns:th="http://www.thymeleaf.org" data-theme="theme-default" data-assets-path="/assets/" data-template="vertical-menu-template-no-customizer">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

<title>test</title>

<meta name="description" content="" />

<!-- Favicon -->
<link rel="icon" type="image/x-icon" th:href="@{/assets/img/favicon/favicon.ico}" />

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>

	<header th:replace="fragments/header :: header"></header>

	<div>
	<h1>notice</h1>
	
	</div>


	<footer th:replace="fragments/footer :: footer"></footer>

	<!-- Core JS -->
	<!-- build:js assets/vendor/js/core.js -->

	<script th:src="@{/assets/vendor/libs/jquery/jquery.js}"></script>
	<script th:src="@{/assets/vendor/libs/popper/popper.js}"></script>
	<script th:src="@{/assets/vendor/js/bootstrap.js}"></script>
	<script th:src="@{/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js}"></script>
	<script th:src="@{/assets/vendor/js/menu.js}"></script>

</body>
</html>