<!DOCTYPE html>
<html lang="en" class="light-style customizer-hide" dir="ltr" xmlns:th="http://www.thymeleaf.org" data-theme="theme-default" data-assets-path="/assets/" data-template="vertical-menu-template-no-customizer">
<head>
<meta charset="utf-8" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

<title>일정표</title>

<meta name="description" content="" />

<!-- Favicon -->
<link rel="icon" type="image/x-icon" th:href="@{/assets/img/favicon/favicon.ico}" />

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<!-- Fullcalendar -->
<script th:inline="text" src="../js/calendar.js"></script>
<!-- Fullcalendar 언어 설정 -->
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/locales-all.js"></script>


</head>

<body>

	<header th:replace="fragments/header :: header"></header>

	<!-- 캘린더 표시 -->
	<div id="calender-container">
		<div id='calendar'></div>
	</div>

	<!-- 일정 추가 모달창 -->
	<div class="modal fade" id="backDropModal" data-backdrop="static" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="backDropModalTitle">일정 추가</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col mb-3">
							<label for="eventContent" class="form-label">일정 <span class="text-danger">*</span></label>
							<input type="text" id="eventContent" class="form-control" placeholder="일정을 입력해주세요." required>
						</div>
					</div>
					<div class="row">
						<div class="col mb-0">
							<label for="event_start_date" class="form-label">시작일 <span class="text-danger">*</span></label>
							<input type="date" id="event_start_date" class="form-control" required>
						</div>
						<div class="col mb-0">
							<label for="event_end_date" class="form-label">마감일 - <small class="text-muted">선택사항</small></label>
							<input type="date" id="event_end_date" class="form-control">
						</div>
					</div>
					<div class="row">
						<div class="col mb-3">
							<label for="event_color" class="form-label">색상</label>
							<input type="color" id="event_color" class="form-control" value="#3788d8" required>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" id="addEvent">추가</button>
				</div>
			</div>
		</div>
	</div>

	<!-- 수정 및 삭제 버튼이 있는 모달 -->
	<div class="modal fade" id="editDeleteModal" tabindex="-1" role="dialog" aria-labelledby="editDeleteModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="editDeleteModalLabel">이벤트 수정 및 삭제</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="닫기">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">

					<div class="row">
						<div class="col mb-3">
							<label for="eventContent" class="form-label">일정 <span class="text-danger">*</span></label>
							<input type="text" id="mEventContent" class="form-control" placeholder="일정을 입력해주세요." required>
						</div>
					</div>
					<div class="row">
						<div class="col mb-0">
							<label for="event_start_date" class="form-label">시작일 <span class="text-danger">*</span></label>
							<input type="date" id="mEvent_start_date" class="form-control" required>
						</div>
						<div class="col mb-0">
							<label for="event_end_date" class="form-label">마감일 - <small class="text-muted">선택사항</small></label>
							<input type="date" id="mEvent_end_date" class="form-control">
						</div>
					</div>
					<div class="row">
						<div class="col mb-3">
							<label for="event_color" class="form-label">색상</label>
							<input type="color" id="mEvent_color" class="form-control" value="#3788d8" required>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" id="editEventButton">수정</button>
					<button type="button" class="btn btn-danger" id="deleteEventButton">삭제</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
				</div>
			</div>
		</div>
	</div>




	<footer th:replace="fragments/footer :: footer"></footer>

	<!-- Core JS -->
	<!-- build:js assets/vendor/js/core.js -->


	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>