<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org" class="light-style layout-menu-fixed layout-compact" dir="ltr"
    data-theme="theme-default" data-template="vertical-menu-template-free">

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <!--     <title>Joinow</title> -->

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="resources/static/assets/img/favicon/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet" />

    <link rel="stylesheet" th:href="@{/resources/static/assets/vendor/fonts/boxicons.css}" />

    <!-- Core CSS -->
    <link rel="stylesheet" th:href="@{/resources/static/assets/vendor/css/core.css}"
        class="template-customizer-core-css" />
    <link rel="stylesheet" th:href="@{/resources/static/assets/vendor/css/theme-default.css}"
        class="template-customizer-theme-css" />
    <link rel="stylesheet" th:href="@{/resources/static/assets/css/demo.css}" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" th:href="@{/resources/static/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css}" />
    <link rel="stylesheet" th:href="@{/resources/static/assets/vendor/libs/apex-charts/apex-charts.css}" />

    <!-- Page CSS -->

    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- FullCalendar -->
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/locales-all.js"></script>

    <!-- Helpers -->
    <script type="text/javascript" th:src="@{/resources/static/assets/vendor/js/helpers.js}"></script>
    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script type="text/javascript" th:src="@{/resources/static/assets/js/config.js}"></script>
    <script th:inline="javascript">
        var calendar = null;
        var event = {
            title: "",
            start: "",
            end: "",
            backgroundColor: ""
        };


        $(document).ready(function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                headerToolbar: {
                    start: 'dayGridMonth,dayGridWeek,dayGridDay today',
                    center: 'title',
                    end: 'prev,next',
                },
                footerToolbar: {
                    start: '',
                    center: '',
                    end: ''
                },
                firstDay: 1,
                titleFormat: function (date) {
                    year = date.date.year;
                    month = date.date.month + 1;

                    return year + "년 " + month + "월";
                },

                navLinks: true, // can click day/week names to navigate views
                editable: true,
                dayMaxEvents: true, // allow "more" link when too many events
                selectable: true, // 마우스로 선택한 날짜 클릭 시 색상 변환
                locale: 'ko', // 한국어 적용
                height: 30,
                contentHeight: 'auto', // 일정개수에 맞게 달력 크기 조절
                // eventAdd : function() {// 이벤트가 추가되면 발생하는 이벤트
                // console.log()
                // },

                events: function (info, successCallback, failureCallback) {

                    $.ajax({
                        url: './select/' + [[${ teamId }]], // 데이터를 제공하는 서버 엔드포인트로 수정
                        type: 'GET', // GET 또는 POST로 요청을 보냄
                        dataType: 'json',
                        success: function (eventData) {
                            // 서버에서 받은 이벤트 데이터를 FullCalendar에 전달
                            successCallback(eventData);

                        },
                        error: function (error) {
                            // 에러 발생 시 처리
                            console.error('이벤트 데이터를 가져오는 중 에러 발생:', error);
                        }
                    });
                },

                eventClick: function (info) {
                    editAndDelete(info);
                },

                select: function (info) {
                    addEvent(info);
                    // eventChange: function (obj) { // 이벤트가 수정되면 발생하는 이벤트
                    // allEvent = calendar.getEvents();
                    // console.log(allEvent);
                    // },
                    // eventRemove: function (obj) { // 이벤트가 삭제되면 발생하는 이벤트
                    // console.log(obj);
                    // },

                },

            });

            calendar.render();

            function addEvent(info) {

                $("#backDropModal").modal("show"); // modal 나타내기

                $("#event_start_date").val(info.startStr);
                $("#event_end_date").val(info.endStr);

                $("#addEvent").off('click').on("click", function () {
                    event.title = $("#eventContent").val().trim();
                    event.start = $("#event_start_date").val();
                    event.end = $("#event_end_date").val();
                    event.backgroundColor = $("#event_color").val();

                    // 일정 검증
                    if (event.title == null || event.title == "") {
                        alert("내용을 입력하세요.");
                    } else if (new Date(event.end) - new Date(event.start) < 0) {
                        alert("종료일이 시작일보다 먼저입니다.");
                    } else if (event.backgroundColor == null || event.backgroundColor == "") {
                        alert("색상을 선택해주세요.");
                    } else {

                        $.ajax({
                            type: 'POST',
                            url: './add/event/' + [[${ teamId }]],
                            data: JSON.stringify(event),
                            contentType: 'application/json; charset=utf-8',
                            success: function (response) {
                                console.log('데이터 전송 성공. 서버 응답: ');
                                location.href = "../schedule/" + [[${ teamId }]];

                            },
                            error: function (xhr, status, error) {
                                console.error('데이터 전송 실패. 에러: ' + error);
                            }
                        });

                        $("#backDropModal").modal("hide");
                        calendar.addEvent(event);
                        $("#eventContent").val("");
                        location.reload();

                    }

                });
            }


            function editAndDelete(info) {
                $('#editDeleteModal').modal('show');

                // 수정 모달창 열릴 때 누른 이벤트 값 보이도록 설정

                $("#mEventContent").val(info.event.title);
                $("#mEvent_start_date").val(info.event.startStr);
                $("#mEvent_end_date").val(info.event.endStr);
                $("#mEvent_color").val(info.event.backgroundColor);

                $("#editEventButton").off('click').on("click", function () {
                    const modifiedEvent = {
                        id: info.event.id,
                        title: $("#mEventContent").val().trim(),
                        start: $("#mEvent_start_date").val(),
                        end: $("#mEvent_end_date").val(),
                        backgroundColor: $("#mEvent_color").val()
                    };
                    console.log(modifiedEvent);
                    $.ajax({
                        type: 'POST',
                        url: './update/event/' + [[${ teamId }]],
                        data: JSON.stringify(modifiedEvent),
                        contentType: 'application/json; charset=utf-8',
                        success: function (response) {
                            $("#editDeleteModal").modal("hide");
                            location.href = "../schedule/" + [[${ teamId }]];
                        },
                        error: function (xhr, status, error) {
                            console.error('데이터 전송 실패. 에러: ' + error);
                        }
                    });
                });

                $("#deleteEventButton").off('click').on("click", function () {
                    const deleteEvent = {
                        id: info.event.id,
                        title: $("#mEventContent").val().trim(),
                        start: $("#mEvent_start_date").val(),
                        end: $("#mEvent_end_date").val(),
                        backgroundColor: $("#mEvent_color").val()
                    };
                    $.ajax({
                        type: 'POST',
                        url: './delete/event/' + [[${ teamId }]],
                        data: JSON.stringify(deleteEvent),
                        contentType: 'application/json; charset=utf-8',
                        success: function (response) {
                            $("#editDeleteModal").modal("hide");
                            location.href = "../schedule/" + [[${ teamId }]];

                        },
                        error: function (xhr, status, error) {
                            console.error('데이터 전송 실패. 에러: ' + error);
                        }
                    });
                });

            }

        });

        const backDropModalCancel = () => {
            $("#backDropModal").modal("hide");
        };

        const editDeleteModalCancel = () => {
            $("#editDeleteModal").modal("hide");
        };

    </script>
</head>

<body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <!-- Menu -->

            <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
                <div class="app-brand demo">
                    <a th:href="@{/main}" class="app-brand-link">
                        <span class="app-brand-logo demo">
                            <svg width="25" viewBox="0 0 25 42" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink">
                                <defs>
                                    <path
                                        d="M13.7918663,0.358365126 L3.39788168,7.44174259 C0.566865006,9.69408886 -0.379795268,12.4788597 0.557900856,15.7960551 C0.68998853,16.2305145 1.09562888,17.7872135 3.12357076,19.2293357 C3.8146334,19.7207684 5.32369333,20.3834223 7.65075054,21.2172976 L7.59773219,21.2525164 L2.63468769,24.5493413 C0.445452254,26.3002124 0.0884951797,28.5083815 1.56381646,31.1738486 C2.83770406,32.8170431 5.20850219,33.2640127 7.09180128,32.5391577 C8.347334,32.0559211 11.4559176,30.0011079 16.4175519,26.3747182 C18.0338572,24.4997857 18.6973423,22.4544883 18.4080071,20.2388261 C17.963753,17.5346866 16.1776345,15.5799961 13.0496516,14.3747546 L10.9194936,13.4715819 L18.6192054,7.984237 L13.7918663,0.358365126 Z"
                                        id="path-1"></path>
                                    <path
                                        d="M5.47320593,6.00457225 C4.05321814,8.216144 4.36334763,10.0722806 6.40359441,11.5729822 C8.61520715,12.571656 10.0999176,13.2171421 10.8577257,13.5094407 L15.5088241,14.433041 L18.6192054,7.984237 C15.5364148,3.11535317 13.9273018,0.573395879 13.7918663,0.358365126 C13.5790555,0.511491653 10.8061687,2.3935607 5.47320593,6.00457225 Z"
                                        id="path-3"></path>
                                    <path
                                        d="M7.50063644,21.2294429 L12.3234468,23.3159332 C14.1688022,24.7579751 14.397098,26.4880487 13.008334,28.506154 C11.6195701,30.5242593 10.3099883,31.790241 9.07958868,32.3040991 C5.78142938,33.4346997 4.13234973,34 4.13234973,34 C4.13234973,34 2.75489982,33.0538207 2.37032616e-14,31.1614621 C-0.55822714,27.8186216 -0.55822714,26.0572515 -4.05231404e-15,25.8773518 C0.83734071,25.6075023 2.77988457,22.8248993 3.3049379,22.52991 C3.65497346,22.3332504 5.05353963,21.8997614 7.50063644,21.2294429 Z"
                                        id="path-4"></path>
                                    <path
                                        d="M20.6,7.13333333 L25.6,13.8 C26.2627417,14.6836556 26.0836556,15.9372583 25.2,16.6 C24.8538077,16.8596443 24.4327404,17 24,17 L14,17 C12.8954305,17 12,16.1045695 12,15 C12,14.5672596 12.1403557,14.1461923 12.4,13.8 L17.4,7.13333333 C18.0627417,6.24967773 19.3163444,6.07059163 20.2,6.73333333 C20.3516113,6.84704183 20.4862915,6.981722 20.6,7.13333333 Z"
                                        id="path-5"></path>
                                </defs>
                                <g id="g-app-brand" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="Brand-Logo" transform="translate(-27.000000, -15.000000)">
                                        <g id="Icon" transform="translate(27.000000, 15.000000)">
                                            <g id="Mask" transform="translate(0.000000, 8.000000)">
                                                <mask id="mask-2" fill="white">
                                                    <use xlink:href="#path-1"></use>
                                                </mask>
                                                <use fill="#696cff" xlink:href="#path-1"></use>
                                                <g id="Path-3" mask="url(#mask-2)">
                                                    <use fill="#696cff" xlink:href="#path-3"></use>
                                                    <use fill-opacity="0.2" fill="#FFFFFF" xlink:href="#path-3"></use>
                                                </g>
                                                <g id="Path-4" mask="url(#mask-2)">
                                                    <use fill="#696cff" xlink:href="#path-4"></use>
                                                    <use fill-opacity="0.2" fill="#FFFFFF" xlink:href="#path-4"></use>
                                                </g>
                                            </g>
                                            <g id="Triangle"
                                                transform="translate(19.000000, 11.000000) rotate(-300.000000) translate(-19.000000, -11.000000) ">
                                                <use fill="#696cff" xlink:href="#path-5"></use>
                                                <use fill-opacity="0.2" fill="#FFFFFF" xlink:href="#path-5"></use>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </span>
                        <span class="app-brand-text demo menu-text fw-bold ms-2">Joinow</span>
                    </a>

                    <a href="javascript:void(0);"
                        class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
                        <i class="bx bx-chevron-left bx-sm align-middle"></i>
                    </a>
                </div>

                <div class="menu-inner-shadow"></div>

                <ul class="menu-inner py-1">
                    <!-- Dashboards -->
                    <li class="menu-item">
                        <a th:href="@{/main}" class="menu-link ">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                style="fill: rgb(158, 154, 154);">
                                <path
                                    d="m12.223 11.641-.223.22-.224-.22a2.224 2.224 0 0 0-3.125 0 2.13 2.13 0 0 0 0 3.07L12 18l3.349-3.289a2.13 2.13 0 0 0 0-3.07 2.225 2.225 0 0 0-3.126 0z">
                                </path>
                                <path
                                    d="m21.707 11.293-9-9a.999.999 0 0 0-1.414 0l-9 9A1 1 0 0 0 3 13h1v7c0 1.103.897 2 2 2h12c1.103 0 2-.897 2-2v-7h1a1 1 0 0 0 .707-1.707zM18.001 20H6v-9.585l6-6 6 6V15l.001 5z">
                                </path>
                            </svg>
                            <div data-i18n="main">&nbsp Main</div>
                        </a>
                    </li>

                    <li class="menu-item">
                        <a th:href="@{/mypage}" class="menu-link">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                style="fill: rgba(158, 154, 154, 1);">
                                <path
                                    d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm0 2c3.213 0 5.982 1.908 7.254 4.648a7.8 7.8 0 0 1-.895-.498c-.409-.258-.873-.551-1.46-.772-.669-.255-1.4-.378-2.234-.378s-1.565.123-2.234.377c-.587.223-1.051.516-1.472.781-.378.237-.703.443-1.103.594C9.41 8.921 8.926 9 8.33 9c-.595 0-1.079-.079-1.524-.248-.4-.151-.728-.358-1.106-.598-.161-.101-.34-.208-.52-.313C6.587 5.542 9.113 4 12 4zm0 16c-4.411 0-8-3.589-8-8 0-.81.123-1.59.348-2.327.094.058.185.11.283.173.411.26.876.554 1.466.776.669.255 1.399.378 2.233.378.833 0 1.564-.123 2.235-.377.587-.223 1.051-.516 1.472-.781.378-.237.703-.443 1.103-.595.445-.168.929-.247 1.525-.247s1.08.079 1.525.248c.399.15.725.356 1.114.602.409.258.873.551 1.46.773.363.138.748.229 1.153.291.049.357.083.717.083 1.086 0 4.411-3.589 8-8 8z">
                                </path>
                                <circle cx="8.5" cy="13.5" r="1.5"></circle>
                                <circle cx="15.5" cy="13.5" r="1.5"></circle>
                            </svg>
                            <div data-i18n="mypage">&nbsp My Page</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link menu-toggle">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                style="fill: rgba(158, 154, 154, 1);">
                                <path
                                    d="M16.604 11.048a5.67 5.67 0 0 0 .751-3.44c-.179-1.784-1.175-3.361-2.803-4.44l-1.105 1.666c1.119.742 1.8 1.799 1.918 2.974a3.693 3.693 0 0 1-1.072 2.986l-1.192 1.192 1.618.475C18.951 13.701 19 17.957 19 18h2c0-1.789-.956-5.285-4.396-6.952z">
                                </path>
                                <path
                                    d="M9.5 12c2.206 0 4-1.794 4-4s-1.794-4-4-4-4 1.794-4 4 1.794 4 4 4zm0-6c1.103 0 2 .897 2 2s-.897 2-2 2-2-.897-2-2 .897-2 2-2zm1.5 7H8c-3.309 0-6 2.691-6 6v1h2v-1c0-2.206 1.794-4 4-4h3c2.206 0 4 1.794 4 4v1h2v-1c0-3.309-2.691-6-6-6z">
                                </path>
                            </svg>
                            <div data-i18n="Team">&nbsp Team</div>
                        </a>
                        <ul class="menu-sub">
                            <li class="menu-item">
                                <a th:href="@{/team/{teamId}(teamId=${teamId})}" class="menu-link">
                                    <div data-i18n="Information">Information</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a th:href="@{/team/schedule/{teamId}(teamId=${teamId})}" class="menu-link">
                                    <div data-i18n="Schedule">Schedule</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a th:href="@{/team/meeting/{teamId}/1(teamId=${teamId})}" class="menu-link">
                                    <div data-i18n="Meeting Note">Meeting Note</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a th:href="@{/team/teamManage/{teamId}(teamId=${teamId})}" class="menu-link">
                                    <div data-i18n="teamManage">Team Manangement</div>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </aside>
            <!-- / Menu -->

            <!-- Layout container -->
            <div class="layout-page">
                <!-- Navbar -->

                <nav class=" container-xxl navbar  align-items-end bg-navbar-theme justify-content-end"
                    id="layout-navbar">

                    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                        <!-- User -->
                        <li class="nav-item navbar-dropdown dropdown-user dropdown list-unstyled">
                            <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);"
                                data-bs-toggle="dropdown">
                                <div class="avatar avatar-online">
                                    <img th:src="@{'https://kr.object.ncloudstorage.com/team1-bucket/' + ${userInfo.username} + '.jpg'}"
                                    onerror="this.onerror=null; this.src='https://kr.object.ncloudstorage.com/team1-bucket/default.jpg';"
                                        alt class="w-px-40 h-90 rounded-circle" />
                                </div>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0 me-3">
                                                <div class="avatar avatar-online">
                                                    <img th:src="@{'https://kr.object.ncloudstorage.com/team1-bucket/' + ${userInfo.username} + '.jpg'}" alt
                                                        onerror="this.onerror=null; this.src='https://kr.object.ncloudstorage.com/team1-bucket/default.jpg';"
                                                        class="w-px-40 h-90 rounded-circle" />
                                                </div>
                                            </div>
                                            <div class="flex-grow-1">
                                                <span class="fw-medium d-block"
                                                    th:text=${session.loginInfo.nickname}></span>
                                                <small class="text-muted">Online</small>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <div class="dropdown-divider"></div>
                                </li>
                                <li>
                                    <a class="dropdown-item" th:href="@{/mypage}">
                                        <i class="bx bx-user me-2"></i>
                                        <span class="align-middle">My Page</span>
                                    </a>
                                </li>
                                <li>
                                    <div class="dropdown-divider"></div>
                                </li>
                                <li>
                                    <a class="dropdown-item" th:href="@{/logout}">
                                        <i class="bx bx-power-off me-2"></i>
                                        <span class="align-middle">Log Out</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!--/ User -->
                        </ul>
                    </div>
                </nav>
                <!-- / Navbar -->

                <!-- Content wrapper -->
                <h4 class="py-3 mb-4"><span class="text-muted fw-light" th:text="${teamDTO.teamName}"> </span> 's 일정표</h4>
                <!-- 캘린더 표시 -->
                <div id="calender-container">
                    <div id='calendar'></div>
                </div>

                <!-- 일정 추가 모달창 -->
                <div class="modal fade" id="backDropModal" data-backdrop="static" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="backDropModalTitle">일정 추가</h5>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col mb-3">
                                        <label for="eventContent" class="form-label">일정 <span
                                                class="text-danger">*</span></label>
                                        <input type="text" id="eventContent" class="form-control"
                                            placeholder="일정을 입력해주세요." required>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col mb-0">
                                        <label for="event_start_date" class="form-label">시작일 <span
                                                class="text-danger">*</span></label>
                                        <input type="date" id="event_start_date" class="form-control" required>
                                    </div>
                                    <div class="col mb-0">
                                        <label for="event_end_date" class="form-label">마감일 - <small
                                                class="text-muted">선택사항</small></label>
                                        <input type="date" id="event_end_date" class="form-control">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col mb-3">
                                        <label for="event_color" class="form-label">색상</label>
                                        <input type="color" id="event_color" class="form-control" value="#3788d8"
                                            required>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                    onclick="backDropModalCancel()">취소</button>
                                <button type="button" class="btn btn-primary" id="addEvent">추가</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 수정 및 삭제 버튼이 있는 모달 -->
                <div class="modal fade" id="editDeleteModal" tabindex="-1" role="dialog"
                    aria-labelledby="editDeleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="editDeleteModalLabel">이벤트 수정 및 삭제</h5>
                            </div>
                            <div class="modal-body">

                                <div class="row">
                                    <div class="col mb-3">
                                        <label for="eventContent" class="form-label">일정 <span
                                                class="text-danger">*</span></label>
                                        <input type="text" id="mEventContent" class="form-control"
                                            placeholder="일정을 입력해주세요." required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col mb-0">
                                        <label for="event_start_date" class="form-label">시작일 <span
                                                class="text-danger">*</span></label>
                                        <input type="date" id="mEvent_start_date" class="form-control" required>
                                    </div>
                                    <div class="col mb-0">
                                        <label for="event_end_date" class="form-label">마감일 - <small
                                                class="text-muted">선택사항</small></label>
                                        <input type="date" id="mEvent_end_date" class="form-control">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col mb-3">
                                        <label for="event_color" class="form-label">색상</label>
                                        <input type="color" id="mEvent_color" class="form-control" value="#3788d8"
                                            required>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" id="editEventButton">수정</button>
                                <button type="button" class="btn btn-danger" id="deleteEventButton">삭제</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                    onclick="editDeleteModalCancel()">닫기</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="content-backdrop fade"></div>
            </div>
            <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->


    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->

    <script type="text/javascript" th:src="@{/resources/static/assets/vendor/libs/jquery/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/resources/static/assets/vendor/libs/popper/popper.js}"></script>
    <script type="text/javascript" th:src="@{/resources/static/assets/vendor/js/bootstrap.js}"></script>
    <script type="text/javascript"
        th:src="@{/resources/static/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js}"></script>
    <script type="text/javascript" th:src="@{/resources/static/assets/vendor/js/menu.js}"></script>

    <!-- endbuild -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Vendors JS -->
    <script type="text/javascript" th:src="@{/resources/static/assets/vendor/libs/apex-charts/apexcharts.js}"></script>

    <!-- Main JS -->
    <script type="text/javascript" th:src="@{/resources/static/assets/js/main.js}"></script>

    <!-- Page JS -->
    <script type="text/javascript" th:src="@{/resources/static/assets/js/dashboards-analytics.js}"></script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script type="text/javascript" async defer src="https://buttons.github.io/buttons.js"></script>
    </div>
    </div>
</body>

</html>