<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- 부가적인 테마 -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<title>프로젝트 게시글 수정하기 화면</title>

<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<script type="text/javascript"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script>
$(document).ready(function() {

	
	//category change
	$("#category").on("change", function() {
	    var a = ['게임기획', '프로젝트 매니저', 'UX/UI기획'];
	    var b = ['UI/UX 디자인', '웹페이지 디자인', '디자이너'];
	    var c = ['프론트엔드', '백엔드', '풀스택'];
	    var o;
	    var category = $("#category").val();
	    if (category == "기획자") {
	        o = a;
	    } else if (category == "디자이너") {
	        o = b;
	    } else if (category == "개발자") {
	        o = c;
	    } else {
	        o = [];
	    }

	    $("#recruitType").empty();

	    for (var i = 0; i < o.length; i++) {
	        $("#recruitType").append("<option>" + o[i] + "</option>");
	    }
	});//end category change
	
	$(document).on("change", "#category", function() {
	    var a = ['게임기획', '프로젝트 매니저', 'UX/UI기획'];
	    var b = ['UI/UX 디자인', '웹페이지 디자인', '디자이너'];
	    var c = ['프론트엔드', '백엔드', '풀스택'];
	    var o;
	    var category = $(this).val();
	    
	    if (category == "기획자") {
	        o = a;
	    } else if (category == "디자이너") {
	        o = b;
	    } else if (category == "개발자") {
	        o = c;
	    } else {
	        o = [];
	    }
	    console.log(category);

	    $(this).next("#recruitType").empty();

	    for (var i = 0; i < o.length; i++) {
	        $(this).next("#recruitType").append("<option value='" + o[i] + "'>" + o[i] + "</option>");
	    }

	});
	
	//up & down button
	$(document).on("click", ".up-btn, .down-btn", function() {
	    var isIncrease = $(this).hasClass('up-btn');
	    var memberSize = $(this).siblings(".memberSize");
	    var currentValue = Number.parseInt(memberSize.val());

	    if ((isIncrease && currentValue < 10) || (!isIncrease && currentValue > 1)) {
	        memberSize.val(isIncrease ? currentValue + 1 : currentValue - 1);
	    }
	});
					
					
						
	//addSelect
	$("#add-btn").on("click",function(){

		var newSelectCategory = "<select id='category' class='form-control' name='category' >"
			newSelectCategory += "<option value=''>옵션을 선택해주세요.</option>"
			newSelectCategory += "<option value='기획자'>기획자</option>"
			newSelectCategory += "<option value='디자이너'>디자이너</option>"
			newSelectCategory += "<option value='개발자'>개발자</option></select>"
		
	    
	    // Add options to the new select element
		var newSelectRecruitType = "<select id='recruitType' name='recruitType' class='form-control'>"
			newSelectRecruitType += "<option value=''>옵션을 선택해주세요.</option></select>"
	    
	    var newMsize = "<div id='mSize'>";
			newMsize += "<img src='images/down.png' class='down-btn' style='width:35px; height:35px;'>";
			newMsize += "<input type='text' name='memberSize' value='1' class='memberSize'>";
			newMsize += "<img src='images/up.png' class='up-btn' style='width:40px; height:40px;'></div>";
	    $(".addSelect").prepend(newMsize).prepend(newSelectRecruitType).prepend(newSelectCategory);
		
	});//end addSelect
	
	//delete button
	$("#del-btn").on("click",function() {
		 $(this).prev().prev().prev().prev().remove();
		 $(this).prev().prev().prev().remove();
		 $(this).prev().prev().remove();
       });//end delete button

});//end ready

</script>

<style>
      body{ background-color: #F7FFF5;}
</style>
</head>

<body>

	<div class="container">
		<form class="form" action="update" method="post">
		<div class="form-group">
			<input type="hidden" th:value="${postListbyNum.postNo}" name="postNo">
			<div align="right">
				<h6>
					글번호:&nbsp;<span th:text="${postListbyNum.postNo}"></span>
				</h6>
				<h6>
					조회수:&nbsp;<span th:text="${postListbyNum.viewCount}"></span>
				</h6>
			</div>
			<div class="form-group">
					<h2 class="text-center">프로젝트 모집요강</h2>
				</div>
			</div>
			<hr>

			<div class="form-group">
					<h4>
						<label for="title" >프로젝트명</label>
					</h4>
					<div>
						<input type="text" class="form-control" name="title"
							th:value="${postListbyNum.title}">
					</div>
					<br>
				<div class="form-group">
					<h4>
						<label for="studyType">유형</label>
					</h4>
					<br>
						<input type="radio" name="studyType" value="project" th:checked="${postListbyNum.studyType}=='project'"> 프로젝트 <br>
						<input type="radio" name="studyType" value="study" th:checked="${postListbyNum.studyType}=='study'"> 스터디
						
				</div>
				</div>
					<br>

				<div class="form-group">
					<h4>
						<label>지역</label>
					</h4>
					<div>
						<select th:value="${postListbyNum.onoff}" name="onoff" class="form-control">
							<option th:selected="${postListbyNum.onoff}=='무관'" value="무관">무관</option>
							<option th:selected="${postListbyNum.onoff}=='온라인'" value="온라인">온라인</option>
							<option th:selected="${postListbyNum.onoff}=='오프라인'" value="오프라인">오프라인</option>
							<option th:selected="${postListbyNum.onoff}=='온라인 /오프라인 모두 가능'" value="온라인 /오프라인 모두 가능">온라인/오프라인 모두 가능</option>
						</select>
						<select th:value="${postListbyNum.region}" name="region" class="form-control">
							<option th:selected="${postListbyNum.region}=='무관'" value="">무관</option>
							<option th:selected="${postListbyNum.region}=='서울특별시'" value="서울특별시">서울특별시</option>
							<option th:selected="${postListbyNum.region}=='경기도'" value="경기도">경기도</option>
							<option th:selected="${postListbyNum.region}=='강원도'" value="강원도">강원도</option>
						</select>
					</div>
				</div>
				<div class="form-group">
   <div class="form-group">
    <h4>
        <label for="memberRecruit">모집인원</label>
    </h4>
    <table th:each="dto, idx : ${positionList}">
            <tr>
				<select th:value="${dto.category}" class="form-control" id="category"  name="category">
					<option th:selected="${dto.category}=='기획자'" value="기획자">기획자</option>
					<option th:selected="${dto.category}=='디자이너'" value="디자이너">디자이너</option>
					<option th:selected="${dto.category}=='개발자'" value="개발자">개발자</option>
				</select> 
            </tr>
            <tr>
				<select th:value="${dto.recruitType}" class="form-control" id="recruitType"  name="recruitType">
					<option th:selected="${dto.recruitType}=='게임기획'" value="게임기획">게임기획</option>
					<option th:selected="${dto.recruitType}=='프로젝트 매니저'" value="프로젝트 매니저">프로젝트 매니저</option>
					<option th:selected="${dto.recruitType}=='UX/UI기획'" value="UX/UI기획">UX/UI기획</option>
					<option th:selected="${dto.recruitType}=='UI/UX 디자인'" value="UI/UX 디자인">UI/UX 디자인</option>
					<option th:selected="${dto.recruitType}=='웹페이지 디자인'" value="웹페이지 디자인">웹페이지 디자인</option>
					<option th:selected="${dto.recruitType}=='디자이너'" value="디자이너">디자이너</option>
					<option th:selected="${dto.recruitType}=='프론트엔드'" value="프론트엔드">프론트엔드</option>
					<option th:selected="${dto.recruitType}=='백엔드'" value="백엔드">백엔드</option>
					<option th:selected="${dto.recruitType}=='풀스택'" value="풀스택">풀스택</option>
				</select> 
            </tr>
            <tr>
            <div class="mSize">
                  <img src="images/down.PNG" class="down-btn" style="width: 35px; height: 35px;">
                   <input type="text" name="memberSize" th:value="${dto.memberSize}" class="memberSize">
                    <img src="images/up.PNG" class="up-btn" style="width: 40px; height: 40px;">
            </div>
            </tr>
            <br>
        </table>
	</div>
        
        <div class="addSelect">
                <button type="button" class="btn rounded-pill me-2 btn-success" id="add-btn">모집 포지션 추가</button>
                <button type="button" class="btn rounded-pill btn-outline-success" id="del-btn">삭제</button>
            </div>
<br>
				<div class="form-group">
					<h4>
						<label for="content">프로젝트
							설명</label>
					</h4>
					<br>
					<div class="form-group">
						<textarea class="form-control" rows="3" name="content"
							th:value="${postListbyNum.content}" th:text="${postListbyNum.content}">
							</textarea>
					</div>
				</div>

				<div class="form-group">
					<h4>
						<label for="html5-date-input" >프로젝트 시작일</label>
					</h4>

						<input class="form-control" type="date" name="startDate"
							id="html5-date-input" th:value="${postListbyNum.startDate}" />
</div>
				<div class="form-group">
					<h4>
						<label for="html5-date-input" >공고 마감일</label>
					</h4>
						<input class="form-control" type="date" name="deadline"
							id="html5-date-input" th:value="${postListbyNum.deadline}" />
				</div>
<br>
				<div class="form-group">
					<h4>
						<label for="html5-tel-input" >연락처</label>
					</h4>
					<br>
						<input class="form-control" type="text" name="contact"
							id="html5-tel-input" th:value="${postListbyNum.contact}" />
				</div>
<br>
				<div class="form-group">
						<button type="reset" class="btn rounded-pill me-2">reset</button>
						<input type="submit" value="수정완료"
							class="btn rounded-pill me-2 btn-success">
				</div>
			</div>
		</form>

	</div>
</body>
</html>