<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- 부가적인 테마 -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<title>프로젝트 게시글 수정하기 화면</title>

<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<script type="text/javascript"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script>
$(document).ready(function() {

	//category change
	$("#category"+idx).on("change", function() {
	    var a = ['게임기획', '프로젝트 매니저', 'UX/UI기획'];
	    var b = ['UI/UX 디자인', '웹페이지 디자인', '디자이너'];
	    var c = ['프론트엔드', '백엔드', '풀스택'];
	    var o;
	    var category = $("#category").val();
	    if (category == "기획자") {
	        o = a;
	    } else if (category == "디자이너") {
	        o = b;
	    } else if (category == "개발자") {
	        o = c;
	    } else {
	        o = [];
	    }

	    $("#recruitType").empty();

	    for (var i = 0; i < o.length; i++) {
	        $("#recruitType").append("<option>" + o[i] + "</option>");
	    }
	});//end category change
	
	$(document).on("change", "#category", function() {
	    var a = ['게임기획', '프로젝트 매니저', 'UX/UI기획'];
	    var b = ['UI/UX 디자인', '웹페이지 디자인', '디자이너'];
	    var c = ['프론트엔드', '백엔드', '풀스택'];
	    var o;
	    var category = $(this).val();
	    
	    if (category == "기획자") {
	        o = a;
	    } else if (category == "디자이너") {
	        o = b;
	    } else if (category == "개발자") {
	        o = c;
	    } else {
	        o = [];
	    }
	    console.log(category);

	    $(this).next("#recruitType").empty();

	    for (var i = 0; i < o.length; i++) {
	        $(this).next("#recruitType").append("<option value='" + o[i] + "'>" + o[i] + "</option>");
	    }

	});
	
			
			//up-btn
			var idx=1;
			$(document).on("click","#up-btn"+idx, function() {
				var memberSize = Number.parseInt($(
				"#memberSize1").val());
		$("#memberSize1").val(memberSize + 1);
		});//end up
			
			//down-btn
			$(document).on("click","#down-btn"+idx,  function() {
						
							var memberSize = Number.parseInt($(
									"#memberSize1").val());
							if (memberSize == 1) {
								$("#memberSize1").val(1);
							} else {
								$("#memberSize1").val(memberSize - 1);
							}	
					});//end down
					
					
					//up-btn
					var idx=2;
					$(document).on("click","#up-btn"+idx, function() {
						var memberSize = Number.parseInt($(
						"#memberSize2").val());
				$("#memberSize2").val(memberSize + 1);
				});//end up
					
					//down-btn
					$(document).on("click","#down-btn"+idx,  function() {
									var memberSize = Number.parseInt($(
											"#memberSize2").val());
									if (memberSize == 1) {
										$("#memberSize2").val(1);
									} else {
										$("#memberSize2").val(memberSize - 1);
									}	
							});//end down
							
							
							//up-btn
							var idx=3;
							$(document).on("click","#up-btn"+idx, function() {
								var memberSize = Number.parseInt($(
								"#memberSize3").val());
						$("#memberSize3").val(memberSize + 1);
						});//end up
							
							//down-btn
							$(document).on("click","#down-btn"+idx,  function() {
										
											var memberSize = Number.parseInt($(
													"#memberSize3").val());
											if (memberSize == 1) {
												$("#memberSize3").val(1);
											} else {
												$("#memberSize3").val(memberSize - 1);
											}	
									});//end down
					
					
		
					
					$("[id~=memberSize]").each(function(index) { // memberSize로 시작하는 id값을 가진 모든 것들을
					    var idx = index + 1;
					    $(this).attr('id', 'memberSize'+idx);
					})
					
					$("[id~=up-btn]").each(function(index) { // up-btn로 시작하는 id값을 가진 모든 것들을
					    var idx = index + 1;
					    $(this).attr('id', 'up-btn'+idx);
					})
					
					$("[id~=down-btn]").each(function(index) { // down-btn로 시작하는 id값을 가진 모든 것들을
					    var idx = index + 1;
					    $(this).attr('id', 'down-btn'+idx);
					})
					
						 
					
			var index = 2; 
			var addUp = function() {
 				 $("body").append("<img src='images/up.png' id='up-btn"+index+"'style='width:40px; height:40px;'>");
 				$("body").append("<img src='images/down.png' id='down-btn"+index+"'style='width:35px; height:35px;'>");
  					index++;
				};
						
			//addSelect
			
			$("#add-btn").on("click",function(){

				var newSelectCategory = "<select id='category' class='form-control' name='category' >"
					newSelectCategory += "<option value=''>옵션을 선택해주세요.</option>"
					newSelectCategory += "<option value='기획자'>기획자</option>"
					newSelectCategory += "<option value='디자이너'>디자이너</option>"
					newSelectCategory += "<option value='개발자'>개발자</option></select>"
				
			    
			    // Add options to the new select element
				var newSelectRecruitType = "<select id='recruitType' name='recruitType' class='form-control'>"
					newSelectRecruitType += "<option value=''>옵션을 선택해주세요.</option></select>"
			    
			    var newMsize = "<div id='mSize'>";
					newMsize += "<img src='images/down.png' id='down-btn"+index+"' style='width:35px; height:35px;'>";
					newMsize += "<input type='text' name='memberSize' value='1' id='memberSize"+index+"'>";
					newMsize += "<img src='images/up.png' id='up-btn"+index+"' style='width:40px; height:40px;'></div>";
					index++;
			    $(".addSelect").prepend(newMsize).prepend(newSelectRecruitType).prepend(newSelectCategory);
				
			});
					
					 $("#del-btn").on("click",function() {
						 $(this).prev().prev().prev().prev().remove();
						 $(this).prev().prev().prev().remove();
						 $(this).prev().prev().remove();
				        });
		
				
					 

});//end ready
						
						
</script>
<style>
      body{ background-color: #F7FFF5;}
    </style>
</head>
<body>

	<div class="container">
		<form class="form" action="update" method="post">
		<div class="form-group">
			<input type="hidden" th:value="${postListbyNum.postNo}" name="postNo">
			<div align="right">
				<h6>
					글번호:&nbsp;<span th:text="${postListbyNum.postNo}"></span>
				</h6>
				<h6>
					조회수:&nbsp;<span th:text="${postListbyNum.viewCount}"></span>
				</h6>
			</div>
			<div class="form-group">
					<h2 class="text-center">프로젝트 모집요강</h2>
				</div>
			</div>
			<hr>

			<div class="form-group">
					<h4>
						<label for="title" >프로젝트명</label>
					</h4>
					<div>
						<input type="text" class="form-control" name="title"
							th:value="${postListbyNum.title}">
					</div>
					<br>
				<div class="form-group">
					<h4>
						<label for="studyType">유형</label>
					</h4>
					<br>
						<input type="radio" name="studyType" value="project" th:checked="${postListbyNum.studyType}=='project'"> 프로젝트 <br>
						<input type="radio" name="studyType" value="study" th:checked="${postListbyNum.studyType}=='study'"> 스터디
						
				</div>
				</div>
					<br>

				<div class="form-group">
					<h4>
						<label>지역</label>
					</h4>
					<div>
						<select th:value="${postListbyNum.onoff}" name="onoff" class="form-control">
							<option th:selected="${postListbyNum.onoff}=='무관'" value="무관">무관</option>
							<option th:selected="${postListbyNum.onoff}=='온라인'" value="온라인">온라인</option>
							<option th:selected="${postListbyNum.onoff}=='오프라인'" value="오프라인">오프라인</option>
							<option th:selected="${postListbyNum.onoff}=='온라인 /오프라인 모두 가능'" value="온라인 /오프라인 모두 가능">온라인/오프라인 모두 가능</option>
						</select>
						<select th:value="${postListbyNum.region}" name="region" class="form-control">
							<option th:selected="${postListbyNum.region}=='무관'" value="">무관</option>
							<option th:selected="${postListbyNum.region}=='서울특별시'" value="서울특별시">서울특별시</option>
							<option th:selected="${postListbyNum.region}=='경기도'" value="경기도">경기도</option>
							<option th:selected="${postListbyNum.region}=='강원도'" value="강원도">강원도</option>
						</select>
					</div>
				</div>
				<div class="form-group">
    <h4>
        <label for="memberRecruit">모집인원</label>
    </h4>
    <table>
            <tr th:each="dto : ${positionList}">
                <input type="text" class="form-control" th:value="${dto.category}">
                <input type="text" class="form-control" th:value="${dto.recruitType}"></span>
                <input type="text" class="form-control" th:value="${dto.memberSize != null ? dto.memberSize + '명' : 'N/A'}"><br>
            </tr>
        </table>
</div>
						<div>
                        <div id="mSize">
						<img src="images/down.PNG" id="down-btn" style="width:35px; height:35px;">
						<input type="text" name="memberSize" value="1" id="memberSize">
						<img src="images/up.PNG" id="up-btn" style="width:40px; height:40px;">
						</div>
			</div>
<p class="form-group" id="addSelect">
				<button type="button" class="btn rounded-pill me-2 btn-success"
					id="add-btn">추가</button>
				<button type="button" class="btn rounded-pill btn-outline-success"
					id="del-btn">삭제</button>
			</p>
			<br>

				<div class="form-group">
					<h4>
						<label for="content">프로젝트
							설명</label>
					</h4>
					<br>
					<div class="form-group">
						<textarea class="form-control" rows="3" name="content"
							th:value="${postListbyNum.content}" th:text="${postListbyNum.content}">
							</textarea>
					</div>
				</div>

				<div class="form-group">
					<h4>
						<label for="html5-date-input" >프로젝트 시작일</label>
					</h4>

						<input class="form-control" type="date" name="startDate"
							id="html5-date-input" th:value="${postListbyNum.startDate}" />
</div>
				<div class="form-group">
					<h4>
						<label for="html5-date-input" >공고 마감일</label>
					</h4>
						<input class="form-control" type="date" name="deadline"
							id="html5-date-input" th:value="${postListbyNum.deadline}" />
				</div>
<br>
				<div class="form-group">
					<h4>
						<label for="html5-tel-input" >연락처</label>
					</h4>
					<br>
						<input class="form-control" type="text" name="contact"
							id="html5-tel-input" th:value="${postListbyNum.contact}" />
				</div>
<br>
				<div class="form-group">
						<button type="reset" class="btn rounded-pill me-2">reset</button>
						<input type="submit" value="수정완료"
							class="btn rounded-pill me-2 btn-success">
				</div>
			</div>
		</form>

	</div>
</body>
</html>